# Variables de configuración de la Base de Datos
DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=tu_usuario
DB_PASSWORD=tu_contraseña
DB_NAME=wallet_epayco

# Variables de configuración del Servidor de Correo
MAIL_HOST=smtp.example.com
MAIL_PORT=587
MAIL_USER=tu_email@example.com
MAIL_PASS=tu_contraseña
MAIL_FROM="Billetera Virtual <epayco@example.com>"
